html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #03DAC5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  /*color: #BB86FC;*/
  color: white;
}

h1 {
  font-size: 5rem;
}

footer {
  margin-top: 30px;
  text-align: center;
}

a {
  color: inherit;
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.25rem;
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url('./Images/streamsetup.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

.home-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #121212;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  animation: 3s forwards revealBackground;
}

.home-div {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
  z-index: 2;
}

.static-login-div {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  width: 50px;
  height: 50px;
  align-items: center;
  
  
}

.static-login-div img {
  max-width: 50px;
  max-height: 50px;
}

.welcome-div {
  height: 65vh;
  min-height: 350px;
}

.welcome-div img {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  z-index: 2;
  align-items: center;
  padding: 10vh 0;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.btn-div {
  position: relative;
  z-index: 2;
  background-color: #3700B3;
  color: white;
  width: auto;
  padding: 10px 20px;
  margin: 0 10px;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: .25s;
}

.login-twitch-btn {
  position: relative;
  display: inline-block;
  z-index: 2;
  background-color: #3700B3;
  color: white;
  padding: 10px 20px;
  margin-left: calc(50vw - 89px);
  border-radius: 25px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: .25s;
}

.btn-div:hover, .login-twitch-btn:hover {
  background-color: #6200EE;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
.btn-block {
  display: block;
  width: 100%;
}

.holder-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 35vh;
  width: 100%;
}

.holder-div > div {
  background-color: rgba(12, 12, 12, .60);
  flex: 1;
  margin: 10px;
  padding: 30px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 400px;
}

.holder-div > div:hover {
  animation: .25s forwards focusHomeDiv;
}

.card-flex {
  display: flex;
}

.card-header-div, .card-header-btn {
  flex: 1;
}

.card-body-div {
  flex: 2;
}

.center-div {
  padding-left: 50%;
}

.loader-div {
  height: 50vh;
  padding-left: calc((50%) - 76px);
  justify-content: center;
  align-items: center;
}

.loader {
  width: 120px;
  height: 120px;
  border: 16px solid #f1f1f1;
  border-radius: 50%;
  border-top: 16px solid #3700B3;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes revealBackground {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 60%;
  }
}

@keyframes focusHomeDiv {
  0% {
    background-color: rgba(12, 12, 12, .60);
  }
  100% {
    background-color: rgba(12, 12, 12, 1);
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Top Twitch Games CSS */

.twitch-list {
  width: 100%;
  height: 400px;
  display: block;
  float: left;
  font-family: Tahoma, sans-serif;
  font-size: larger;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

.twitch-list p {
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.twitch-list div {
  text-align: center;
  background-color: #6441a5;
}

.game-rank {
  border-style: solid solid solid solid;
  flex: 20%;
}

.game-name {
  border-style: solid solid solid hidden;
  flex: 30%;
}

.game-id {
  border-style: solid solid solid hidden;
  flex: 20%
}

.game-image {
  float: left;
  padding-top: 10vh;
  padding-left: 2vw;
}

.game-info {
  margin-top: 9vh;
  margin-left: calc(5vw + 180px);
  border-style: solid;
  margin-right: 2vw;
}

.carousel-wrapper {
  background-color: #6441a5;
  margin-top: 5vh;
  min-height: 400px;
}

.carousel a:hover {
  background-color: #b9a3e3;
}


/* Find Channel CSS */

.input-div {
  width: 300px;
  margin-left: calc(50% - 150px);
}

.channel-container {
  width: 300px;
  height: 500px;
  margin-left: calc(50% - 150px);
}

.search-img {
  width: 100px;
  height: 100px;
  float: left;
}

.channel-holder {
  overflow:auto;
  display: flex;
  margin: 5px 0;
}

.channel-holder div {
  flex: 1;
}

.center-text {
  text-align: center;
  padding-top: 30%;
}

.modal-body * {
  font-size: 1.5em;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #121212;
  color: #BB86FC;
}

.nav-header {
  width: 100%;
  height: 4rem;
  background-color: grey;
}