:root {
	--primary-color: #3700b3;
	--text-color: #fcfcfc;
	--header-color: #03dac5;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	background-color: #121212;
	color: #03dac5;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--header-color);
	margin-bottom: 0;
}

h1 {
	font-size: 5rem;
}

footer {
	margin-top: 30px;
	text-align: center;
}

a {
	color: inherit;
	margin: 0;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

p {
	color: var(--text-color);
	font-size: 1.25rem;
	margin: 0;
}

.line {
	border-bottom: solid var(--text-color) 1px;
}

.red {
	color: crimson;
}

.white {
	color: var(--text-color);
}

.white-border {
	border: solid var(--text-color) 1px;
}

.header-color {
	color: var(--header-color);
}

.caution {
	color: #f1f1f1;
}

.primary-bg {
	background-color: #3700b3;
}

.dark-bg {
	background-color: rgba(12, 12, 12, 0.6);
}

.sm-margin-container {
	position: relative;
	margin: 0 15%;
	height: 100%;
}

.auto-margin-container {
	position: relative;
	margin: 0 auto;
	height: 100%;
}

.margin-text {
	box-sizing: content-box;
	margin: 0 auto;
	padding: 1%;
	min-width: 350px;
	max-width: 80vw;
}

.home-btn {
	padding: 0.25rem 0.25rem;
	border-radius: 5%;
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 3;
	transition: 0.25s;
}

.home-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	background-image: url('./Images/streamsetup.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.home-img-cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: #121212;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	opacity: 0.65;
}

.home-div {
	position: relative;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
	width: 100%;
	z-index: 2;
}

.static-login-div {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 3;
	width: 50px;
	height: 50px;
	align-items: center;
}

.static-login-div img {
	max-width: 50px;
	max-height: 50px;
}

.welcome-div {
	height: auto;
}

.welcome-div img {
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	position: relative;
	z-index: 2;
	align-items: center;
	padding: 10vh 5vw 5vh 5vw;
	text-align: center;
	color: var(--text-color);
}

.header-font-size {
	font-size: calc(10px + 6vmin);
}

.btn-div {
	position: relative;
	z-index: 2;
	width: auto;
	padding: 10px 20px;
	margin: 0 10px;
	text-align: center;
	border-radius: 25px;
	text-decoration: none;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	transition: 0.25s;
}

.login-twitch-btn {
	position: relative;
	display: inline-block;
	z-index: 2;
	padding: 10px 20px;
	margin-left: calc(50vw - 89px);
	border-radius: 25px;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	transition: 0.25s;
}

.btn-div:hover,
.login-twitch-btn:hover,
.home-btn:hover,
button:hover {
	background-color: #6200ee;
	color: var(--text-color);
	cursor: pointer;
	transition: 0.25s;
}

.hidden {
	display: none;
}

.btn:focus {
	outline: none;
}

.btn:active {
	transform: scale(0.98);
}
.btn-block {
	display: block;
	width: 100%;
}

.holder-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	height: 35vh;
	width: 100%;
}

.holder-div > div {
	background-color: rgba(12, 12, 12, 0.6);
	flex: 1;
	margin: 10px;
	padding: 30px 30px 10px 30px;
	display: flex;
	flex-direction: column;
	min-width: 250px;
	max-width: 400px;
}

.holder-div > div:hover {
	animation: 0.25s forwards focusHomeDiv;
}

.card-flex {
	display: flex;
}

.card-header-div,
.card-header-btn {
	flex: 1;
}

.card-body-div {
	flex: 2;
	margin-bottom: 2vh;
}

.center-div {
	padding-left: 50%;
}

.loader-div {
	height: 50vh;
	padding-left: calc((50%) - 76px);
	justify-content: center;
	align-items: center;
}

.loader {
	width: 120px;
	height: 120px;
	border: 16px solid var(--text-color);
	border-radius: 50%;
	border-top: 16px solid var(--primary-color);
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

.btn-loader {
	border: 3px solid rgba(0, 0, 0, 0);
	border-top: 3px solid #fcfcfc;
	border-radius: 50%;
	width: 23px;
	height: 23px;
	animation: spin 2s linear infinite;
}

@keyframes focusHomeDiv {
	0% {
		background-color: rgba(12, 12, 12, 0.6);
	}
	100% {
		background-color: rgba(12, 12, 12, 1);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Top Twitch Games CSS */

.top-games-container {
	background-image: url('./Images/streamer.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
}

.twitch-list {
	width: 100%;
	height: 400px;
	display: block;
	float: left;
	font-family: Tahoma, sans-serif;
	font-size: larger;
	padding-bottom: 10px;
	padding-left: 15%;
	padding-right: 15%;
	background-color: inherit;
}

.twitch-list p {
	margin-bottom: 3vh;
	margin-top: 3vh;
}

.twitch-list div {
	text-align: center;
	background-color: inherit;
	color: #03dac5;
}

.game-rank {
	border-style: solid;
	flex: 20%;
}

.game-name {
	border-style: solid solid solid hidden;
	flex: 30%;
}

.game-id {
	border-style: solid solid solid hidden;
	flex: 20%;
}

.game-image {
	float: left;
	padding-top: 10vh;
	padding-left: 2vw;
}

.game-info {
	margin-top: 9vh;
	margin-left: calc(5vw + 180px);
	border: solid var(--text-color);
	margin-right: 2vw;
}

.carousel-wrapper {
	background-color: rgba(39, 25, 65, 0.7);
	margin-top: 5vh;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 400px;
}

.carousel a:hover {
	background-color: rgba(73, 64, 89, 1);
}

/* Find Channel CSS */

.find-channel-container {
	background-image: url('./Images/keyboardcloseup.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	overflow: hidden;
}

.container-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: #121212;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

.pop-out {
	position: relative;
	z-index: 2;
}

.channel-container {
	height: auto;
	margin-top: 2%;
	padding: 2px;
}

.channel-result-div {
	max-width: 400px;
	min-height: 300px;
	max-height: 300px;
	overflow-y: scroll;
	background-color: rgba(12, 12, 12, 0.6);
	overflow-x: hidden;
	border: solid var(--text-color) 1px;
}

.no-width {
	min-width: 0;
	max-width: 0;
	overflow: hidden;
}

.show-channel {
	min-width: 370px;
	max-width: 370px;
	margin: 0 auto 5px auto;
}

.search-img {
	width: 100px;
	height: 100px;
	float: left;
}

.find-channel-btn {
	padding: 0.75rem 1rem;
	margin: 5px 0 0 50%;
	width: auto;
	transform: translateX(-50%);
}

.channel-holder {
	overflow-x: hidden;
	display: flex;
	margin: 5px 0;
}

.channel-holder:hover {
	background-color: rgba(55, 0, 179, 0.6);
	cursor: pointer;
}

.channel-holder :is(.channel-img) {
	flex: 1;
}

.channel-name {
	padding-top: 35px;
	flex: 3;
}

.center-text {
	text-align: center;
}

.modal-content {
	background-color: rgba(12, 12, 12, 1);
}

.modal-body * {
	font-size: 1.5em;
}

.text-link:hover {
	color: var(--text-color);
}

.close {
	color: var(--text-color);
}

.close:hover {
	color: crimson;
	background-color: inherit;
}

.modal-channel-body {
	position: relative;
	width: 100%;
	font-size: 1rem;
	margin-bottom: 5vh;
}

.nav-header {
	width: 100%;
	height: 4rem;
	background-color: grey;
}

/* Find Media CSS */

.find-media-container {
	background-image: url('./Images/monitors.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
}

.flex-container {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-box-1 {
	flex: 1;
}

.flex-animate-item {
	transition: all 0.75s linear;
}

.no-overflow {
	overflow: hidden;
}

.auto-margin {
	justify-content: center;
}

.media-form-container {
	box-sizing: content-box;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 3.5vh;
}

.media-select-form,
.media-input-form {
	box-sizing: content-box;
	border-radius: 2%;
	min-width: 320px;
	max-width: 350px;
	min-height: 200px;
	max-height: 200px;
	padding: 20px 20px;
	margin: 0 auto 5px auto;
	background-color: rgba(12, 12, 12, 0.9);
	border: solid var(--text-color) 1px;
}

.custom-select-div {
	position: relative;
	margin: 50px 33% 0 33%;
}

.media-input {
	position: relative;
	margin-top: 10%;
	margin-bottom: 4%;
}

.media-data-loaded-div {
	margin: 0 auto;
	min-width: 350px;
	max-width: 750px;
	max-height: 390px;
	border: solid var(--text-color) 1px;
	background-color: rgba(12, 12, 12, 0.8);
	flex: 1;
	transition: flex 1s;
}

.media-select-dropdown {
	width: 100%;
	min-width: 70px;
	position: relative;
	border: none;
}

.media-clip-result {
	position: relative;
	display: flex;
	max-height: 30px;
}

.media-header {
	position: relative;
	display: flex;
	max-height: 30px;
}

.media-header p {
	color: var(--header-color);
}

.result-column-title {
	position: relative;
	padding: 0 5%;
	box-sizing: content-box;
	flex: 3;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.media-results-div {
	max-height: 450px;
	overflow-y: hidden;
}

.media-details {
	position: relative;
	min-width: 215px;
	max-width: 750px;
	height: 390px;
	margin: 0 auto;
	border: solid var(--text-color) 1px;
	background-color: rgba(12, 12, 12, 0.8);
	padding: 20px;
	flex-direction: column;
	overflow: hidden;
}

.show-media-info {
	min-width: 370px;
	max-width: 750px;
	margin: 0 auto 5px auto;
	overflow: hidden;
}

.vid-img-div {
	position: relative;
	flex: 1;
	box-sizing: content-box;
	max-height: 551px;
	min-height: 551px;
	max-width: 310px;
	min-width: 310px;
	margin: -190px auto 0 auto;
}

.clip-img-div {
	position: relative;
	flex: 1;
	box-sizing: content-box;
	max-height: 175px;
	min-height: 175px;
	max-width: 309px;
	min-width: 309px;
}

.video-thumbnail {
	min-height: 175px;
	max-height: 175px;
	overflow: hidden;
	margin: 2px auto;
}

.clip-thumbnail {
	max-height: 175px;
	min-height: 175px;
	max-width: 309px;
	min-width: 309px;
	margin: 2px auto;
}

.no-thumbnail {
	min-height: 175px;
	max-height: 175px;
	min-width: 310px;
	max-width: 310px;
	overflow: hidden;
	margin: 2px auto;
	background-image: url('./Images/no-thumbnail.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.info-desc-div {
	position: relative;
	flex: 2;
	box-sizing: content-box;
	max-width: 90%;
	min-width: 90%;
	height: 180px;
	margin: 5px auto 10px auto;
}

.info-desc-div div {
	justify-content: center;
}

.info-link-div {
	position: relative;
	flex: 3;
	box-sizing: content-box;
	margin: 10px 0 10% 50%;
}

.desc-text {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.desc-height {
	max-height: 30px;
}

.text-color {
	color: var(--text-color);
}

.media-clip-result:hover {
	background-color: rgba(55, 0, 179, 0.6);
	color: var(--text-color);
	cursor: pointer;
}

.basic-btn {
	padding: 0.75rem 1rem;
	width: auto;
	transform: translateX(-50%);
	border: none;
}

.basic-btn:hover {
	cursor: pointer;
	background-color: #6200ee;
	transition: 0.25s;
}

.media-btn-div {
	margin: 50px 0 50px 50%;
}

.basic-btn:disabled:hover,
button:disabled:hover {
	cursor: not-allowed;
}

.slide {
	flex: 1;
}
