body {
  font-family: 'Poppins', sans-serif;
  background-color: #262626;
}

.container {
  height: auto;
  width: 100%;
  color: white
}

.header {
  align-items: center;
  margin: 100px 0;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.btn {
  display:table-cell;
  background: #6441a5;
  color: #fff;
  border-color: #b9a3e3;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  min-height: 8em;
  min-width: 225px;
  max-width: 225px;
  flex: 1;
  width: auto;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.loader-div {
  height: 50vh;
  padding-left: calc((50%) - 76px);
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

.loader {
  width: 120px;
  height: 120px;
  border: 16px solid #f1f1f1;
  border-radius: 50%;
  border-top: 16px solid #6441a5;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.twitch-list {
  width: 100%;
  height: 400px;
  display: block;
  float: left;
  font-family: Tahoma, sans-serif;
  font-size: larger;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

.twitch-list p {
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.twitch-list div {
  text-align: center;
  background-color: #6441a5;
}

.game-rank {
  border-style: solid solid solid solid;
  flex: 20%;
}

.game-name {
  border-style: solid solid solid hidden;
  flex: 30%;
}

.game-id {
  border-style: solid solid solid hidden;
  flex: 20%
}

.carousel-wrapper {
  background-color: #6441a5;
  margin-top: 5vh;
  min-height: 400px;
}

.game-image {
  float: left;
  padding-top: 10vh;
  padding-left: 2vw;
}

.game-info {
  margin-top: 9vh;
  margin-left: calc(5vw + 180px);
  border-style: solid;
  margin-right: 2vw;
}

.carousel a:hover {
  background-color: #b9a3e3;
}
